h1 {width: 150px; /* width of container */
    height: 150px; /* height of container */
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    

}


img {
    margin-top: 20px;
    width: 350px;
    height: 350px;
    margin: 2%;
    background-color: #fbeec1;
    
}

body {
    background-color: #8F746E;
}

div {
    display: none;
    border: 1px solid#000;
    height: 30px;
    width: 290px;
    margin-left: 10px;
    
}

a:hover + div {
    display: block;
}
