.bodyy {
  font-family: Raleway;
  background-color: #8F746E;
  color: white;    
}

.w3-theme-d1{
  color:#8F746E !important; 
  background-color:#2e2222 !important;
}

#about {width: 150px; /* width of container */
  height: 150px; /* height of container */
  margin-left: auto;
  margin-right: auto;
  font-family: 'Raleway';
  text-align: center;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 5px;
}

#team{
  font-family: 'Raleway';
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
  text-underline-position: below;
}



.column {
  float: left;
  width: 33.3%;
  margin-left: 10%;
  margin-bottom: 16px;
  padding: 0 10px;
  background-color: #8F746E;
}

.card {
  box-shadow: 0 5px 8px 0 #b3ac6a;
  margin: 6px;
  border-radius: 8px;
  background-color: #8F746E;
}

.container {
  padding: 0 16px;
  background-color: #8F746E;
}

.container::after, .row::after{
  content: "";
  clear: both;
  display: table;
  background-color: #8F746E;
}


.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #c4ae9b;
  text-align: center;
  width: 100%;
  font-family: Raleway;
}

.button:hover {
  background-color: #555;
}

.title {
  color: #e5b6c0;
  font-size: 20px;
}

.summary{
  margin-bottom: 20px;
  margin-top: -100px;
  padding: 2%;
  float: left;
  font-family: Raleway;
  color: #eabab0;
}

#logo {
  object-fit: cover;
  width:300px;
  height:300px;
}


.bg-grey {
  background: #2e2222;
}

.logo-footer {
  margin-bottom: 40px;
  margin-left: 22%;
  margin-right: 22%;
}

.container2{
  font-family: 'Raleway';
  background-color: #2e2222;
  color: #8F746E;
}

.ps {
font-size: 12px;
font-family: 'Raleway';
}

.h66 {
font-family: 'Raleway';
margin-bottom: 40px;
position: relative;
}

.h66 :after {
position: absolute;
content: "";
background: #8F746E;
width: 12%;
height: 1px;
left: 0;
bottom: -20px;
}

.btn-footer {
  color: #8F746E;
  border: 1px solid;
  border-radius: 43px;
  font-size: 13px;
  padding: 7px 30px;
  line-height: 47px;
}

footer ul li {
list-style: none;
display: block;
}

footer ul  {
padding-left: 0;
}

footer ul  li a{
color: #8F746E;
}

a:hover {
color: #c7b0ab !important;
}

.logo-part {
border-right: 1px solid #8F746E;
height: 100%;
}