/* background and font for the whole page, unless otherwise said */
.bodyy {
    font-family: Raleway;
    background-color: #8F746E;
    color: white;    
}

/* nav bar */
.w3-theme-d1{
  color:#8F746E !important; 
  background-color:#2e2222 !important;
}

/* message */
#ContactUs {
    width: 100%; /* width of container */
    height: 100%; /* height of container */
    margin-left: auto;
    margin-right: auto;
    font-family: 'Raleway';
    text-align: center;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 10px;
}

/* smaller message */
h2{
    text-align: center;
    width: 100%; 
    height: 100%;
    font-size: 20px;
    font-family: 'Raleway';
    margin-top: 5px;
}

/* each individual text boxes on the form */
input:focus {
  background-color: #edcec5;
}

/* each individual text boxes on the form */
input[type]{
  width: 100%; /* width of container */
  margin: 1.66%;
  font-family: Raleway;
  padding: 12px 15px;
  border-radius: 6px;
  border: 2px solid #fbf3f0;
}

/* each individual text boxes on the form */
input[type= "message"]{
  width: 100%; /* width of container */
  height: 150%;
  margin: 1.66%;
  font-family: Raleway;
  padding: 12px 15px;
  border-radius: 6px;
  border: 2px solid #fbf3f0;

}

/* each individual text boxes on the form */
input[type= "submit"]{
  width: 100%; /* width of container */
  margin: 1.66%;
  font-family: Raleway;
  padding: 12px 15px;
  border-radius: 6px;
  border: 2px solid #fbf3f0;
  background: #edcec5;
}

/* submit button */
#submit {
  width: 20%;
  background-color: #ecc9c2;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

/* submit button */
#submit:hover {
  background-color: #d59c8e;
}

/* form in total */
form{
  padding-left: 10%;
  padding-right: 10%;
  
}

/* everything below is footer */
.bg-grey {
    background: #2e2222;
  }
  
  .logo-footer {
    margin-bottom: 40px;
    margin-left: 22%;
    margin-right: 22%;
  }
  
  .container2{
    font-family: 'Raleway';
    background-color: #2e2222;
    color: #8F746E;
  }
  
  .ps {
  font-size: 12px;
  font-family: 'Raleway';
  }
  
  .h66 {
  font-family: 'Raleway';
  margin-bottom: 40px;
  position: relative;
  }
  
  .h66 :after {
  position: absolute;
  content: "";
  background: #8F746E;
  width: 12%;
  height: 1px;
  left: 0;
  bottom: -20px;
  }
  
  .btn-footer {
    color: #8F746E;
    border: 1px solid;
    border-radius: 43px;
    font-size: 13px;
    padding: 7px 30px;
    line-height: 47px;
  }
  
  footer ul li {
  list-style: none;
  display: block;
  }
  
  footer ul  {
  padding-left: 0;
  }
  
  footer ul  li a{
  color: #8F746E;
  }
  
  a:hover {
  color: #c7b0ab !important;
  }
  
  .logo-part {
  border-right: 1px solid #8F746E;
  height: 100%;
  }
