/* Overall body of the code */
.bodyy {
    font-family: Raleway;
    background-color: #8F746E;
    color: white;    
  }


.w3-theme-d1{
    color:#8F746E !important; 
    background-color:#2e2222 !important;
  }

/* Playlist Title */

#playlist {    
    font-family: Raleway;
    font-weight: bold;
    text-align: center;
    color: white; 
    margin-top: 60px;
    margin-bottom: 10px;
}

#listen {
    font-family: Raleway;
    padding: 12px 20px;
    text-align: center;
    color: #eabab0;
}

/* all footer information below */

.bg-grey {
    background: #2e2222;
  }
  
  .logo-footer {
    margin-bottom: 40px;
    margin-left: 22%;
    margin-right: 22%;
  }
  
  .container2{
    font-family: 'Raleway';
    background-color: #2e2222;
    color: #8F746E;
  }
  
  .ps {
  font-size: 12px;
  font-family: 'Raleway';
  }
  
  .h66 {
  font-family: 'Raleway';
  margin-bottom: 40px;
  position: relative;
  }
  
  .h66 :after {
  position: absolute;
  content: "";
  background: #8F746E;
  width: 12%;
  height: 1px;
  left: 0;
  bottom: -20px;
  }
  
  .btn-footer {
    color: #8F746E;
    border: 1px solid;
    border-radius: 43px;
    font-size: 13px;
    padding: 7px 30px;
    line-height: 47px;
  }
  
  footer ul li {
  list-style: none;
  display: block;
  }
  
  footer ul  {
  padding-left: 0;
  }
  
  footer ul  li a{
  color: #8F746E;
  }
  
  a:hover {
  color: #c7b0ab !important;
  }
  
  .logo-part {
  border-right: 1px solid #8F746E;
  height: 100%;
  }

