body {
    background-color: #8F746E;
    color: white;
    
}

#playlists {width: 150px; /* width of container */
    height: 150px; /* height of container */
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-family: Raleway;
}

.navBar {
    text-align: center;
    list-style-type: none;
    margin: 2;
    padding: 25px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    word-spacing: 5rem;
    font-family: Raleway;
}

#bar{
    display: inline;
}

img {
    object-fit: cover;
    width:230px;
    height:230px;
}

