body {
  background-color: #8F746E;
  color: white;
  
}

.navBar {
    text-align: center;
    list-style-type: none;
    margin: 2;
    padding: 25px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    word-spacing: 5rem;
    font-family: Raleway;
  }


  #bar{
    display: inline;
}

#submittitle
 {width: 60%; /* width of container */
  height: 150px; /* height of container */
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 20px;
  font-family: 'Raleway';
  text-align: center;
}

#logo {
  object-fit: cover;
  width:300px;
  height:300px;
}