.bodyy {
  font-family: Raleway;
  background-color: #8F746E;
  color: white;


}

.w3-theme-d1{
  color:#8F746E !important; 
  background-color:#2e2222 !important;
}



input[type], input[for]{
  width: 80%; /* width of container */
  height: 150;
  margin: 1.66%;
  font-family: Raleway;
  padding: 12px 15px;
  border-radius: 6px;
  border: 2px solid #fbf3f0;
  background: white;

}

input[type="submit"]{ 
  width: 20%;
  background-color: #ecc9c2;
  color: white;
  padding: 14px 15px;
  margin: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 45px;

}

#enter{
  font-family: 'Raleway';
  margin-right: 5%;
  margin-left: 5%; 
}

#submittitle
 {width: 60%; /* width of container */
  height: 150px; /* height of container */
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-family: 'Raleway';
  text-align: center;
  font-weight: bold;
  margin-top: 70px;
  margin-bottom: 10px;
}


.bg-grey {
  background: #2e2222;
}

.logo-footer {
  margin-bottom: 40px;
  margin-left: 22%;
  margin-right: 22%;
}

.container2{
  font-family: 'Raleway';
  background-color: #2e2222;
  color: #8F746E;
}

.ps {
font-size: 12px;
font-family: 'Raleway';
}

.h66 {
font-family: 'Raleway';
margin-bottom: 40px;
position: relative;
}

.h66 :after {
position: absolute;
content: "";
background: #8F746E;
width: 12%;
height: 1px;
left: 0;
bottom: -20px;
}

.btn-footer {
  color: #8F746E;
  border: 1px solid;
  border-radius: 43px;
  font-size: 13px;
  padding: 7px 30px;
  line-height: 47px;
}

footer ul li {
list-style: none;
display: block;
}

footer ul  {
padding-left: 0;
}

footer ul  li a{
color: #8F746E;
}

a:hover {
color: #c7b0ab !important;
}

.logo-part {
border-right: 1px solid #8F746E;
height: 100%;
}

input:focus {
  background-color: #edcec5;
}