<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dB-Playlists</title>
    <link rel="stylesheet" href="/stylesheets/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap" rel="stylesheet">
</head>

<body>
    <div class = "navBar">
        <div id = "navContainer">
            <img src="images/Logo.png" alt="">
            <ul>
                <li id=bar><a href="index">Home</a></li>
                <li id=bar><a href="playlists">Playlists</a></li>
                <li id=bar><a href="contact">Contact</a></li>
                <li id=bar><a href="about">About</a></li>
            </ul>
        </div>  
    </div>

    <div class = "about-section">

        <h1 id="about"> About</h1>
        <p class="summary">At Decibel our goal is to broaden users taste in music and allow for new discovery of music. Our creators are Gaby Nina, Angie Chirchella, Kylie Wasserman, and Genevieve Anderson. We are four students at Marist College in upstate New York. We started Decible because we wanted to learn more about how people connect with music, and to be able to easily share music with others. We have noticed that it can be difficult to find new music, and our goal is to make that search easier. On our website you will be able to submit music that you enjoy, along with browse music that other people listen to as well. We hope that through the use of our page you are able to discover more about yourself and others through music!</p> 
    </div>

    <h2 style="text-align: center"> Meet Our Team</h2>
    <div class = "row">
        <div class="column">
            <div class = "card">
                <img src="" alt="Angie" style="width: 100%;">
                <div class="container">
                    <h2>Angelina Chirichella</h2>
                    <p class="title">CEO & Founder</p>
                    <p>Hi! I'm Angie and I am a junior at Marist College. I am an applied mathematics major with a minor in Data Science & Analytics. In my free time I enjoy hiking, drawing, and hanging out with my friends. I love playing the piano and listening to all genres of music. </p>
                    <p>angelina.chirichella1@marist.edu</p>
                    <p><button class="button">Contact Me!</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="" alt="Gaby" style="width: 100%;">
                <div class="container">
                    <h2>Gabriella Nina</h2>
                    <p class="title"> CEO & Founder</p>
                    <p> Hi! My name is Gaby Nina and I am an Applied Mathematics major with a minor in Data Science & Analytics. I enjoy playing the violin and my favorite genre of music is Jazz.</p>
                    <p>gabriella.nina1@marist.edu</p>
                    <p><button class="button">Contact Me!</button> </p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="/Users/angiechirichella/Desktop/Decible/Assignment1/images/Logo.png" alt="Logo" style="width: 100%;">
                <div class="container">
                    <h2>Genevieve Anderson</h2>
                    <p class="title"> CEO & Founder</p>
                    <p> Hi! My name is Genny and I am majoring in Applied Mathematics and Data Science with a minor in Computer Science. I am on the rowing team at Marist. In my free time I enjoy skiing, hiking, and cooking. I enjoy all genres of music!</p>
                    <p>genevieve.anderson1@marist.edu</p>
                    <p><button class="button">Contact Me!</button> </p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="/Users/angiechirichella/Desktop/Decible/Assignment1/images/Logo.png" alt="Logo" style="width: 100%;">
                <div class="container">
                    <h2>Kylie Wasserman</h2>
                    <p class="title"> CEO & Founder</p>
                    <p> Hi! My name is Kylie and I am majoring in Computer Science and minoring in Interactive Media. Some of my hobbies include cooking and cross stitching. My favorite artist is Taylor Swift.</p>
                    <p>kylie.wasserman1@marist.edu</p>
                    <p><button class="button">Contact Me!</button> </p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>