<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dB-Playlists</title>
    <link rel="stylesheet" href="/stylesheets/contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap" rel="stylesheet">
    <script src="/script.js" defer></script>
</head>

<body>
    <div class = "navBar">
        <div id = "navContainer">
            <img src="images/Logo.png" alt="" id = "logo" >
            <ul>
                <li id=bar><a href="index">Home</a></li>
                <li id=bar><a href="playlists">Playlists</a></li>
                <li id=bar><a href="contact">Contact</a></li>
                <li id=bar><a href="about">About</a></li>
                <li id=bar><a href="Submit">Submit</a></li>
            </ul>
        </div>  
    </div>

    <h1 id="ContactUs" > Contact Us</h1>

    <h2>Send us a message!</h2>

    <form method='POST' action='/contact/contact' id='enterForm'>
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="contact[name]"><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="contact[email]"><br><br>
    <label for="subject">Subject:</label><br>
    <input type="text" id="subject" name="contact[subject]"><br><br>
    <label for="message">Message:</label><br>
    <input type="message" id="message" name="contact[message]"><br><br>
    <input type="submit" onclick="alert('We have received your message and will respond promptly')">
    </form>

    <h3 id="newText"></h3>

</body>

</html>