<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dB-Playlists</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapnpm install animate.css --saveis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <script src="/home.js" defer></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body class = "bodyy">
    <div class = "navBar">
        <div id = "navContainer">
            <img src="images/Decibel.png" id = "logoimg" alt="">
            <ul>
                <li id=bar><a href="index">Home</a></li>
                <li id=bar><a href="playlists">Playlists</a></li>
                <li id=bar><a href="contact">Contact</a></li>
                <li id=bar><a href="about">About</a></li>
                <li id=bar><a href="Submit">Submit</a></li>
            </ul>
        </div>  
    </div>


    <h1 class="animate__animated animate__bounce" id="Home">Home</h1>

    <section id = "Homepage">
        <h2 id = "Homepage"> 
            Welcome to our site, here you will have the oppurtunity to show others your taste in music, along with discover others taste in music as well!
        </h2>
    </section>

    <!-- Slideshow container -->
    <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
        <div class="numbertext">1 / 10</div>
        <img src="https://upload.wikimedia.org/wikipedia/en/b/b0/Ed_Sheeran_-_Shivers.png" style="width:100%" id = "slideshowimg" >
        <div class="text">Shivers By Ed Sheeran</div>
        </div>
    
        <div class="mySlides fade">
        <div class="numbertext">2 / 10</div>
        <img src="https://m.media-amazon.com/images/I/81Uj3NtUuhL._SS500_.jpg" style="width:100%" id = "slideshowimg" >
        <div class="text">Industry Baby (feat. Jack Harlow) Lil Nas</div>
        </div>
    
        <div class="mySlides fade">
        <div class="numbertext">3 / 10</div>
        <img src="https://upload.wikimedia.org/wikipedia/en/0/0c/The_Kid_Laroi_and_Justin_Bieber_-_Stay.png" style="width:100%" id = "slideshowimg" >
        <div class="text">STAY by The Kid LAROI, Justin Bieber</div>
        </div>

        <div class="mySlides fade">
        <div class="numbertext">4 / 10</div>
        <img src="https://i.ytimg.com/an/2V_uAAAH-_Q/7608203655284526850_mq.jpg?v=60e4a32f" style="width:100%" id = "slideshowimg" >
        <div class="text">Woman by Doja Cat</div>
        </div>

        <div class="mySlides fade">
        <div class="numbertext">5 / 10</div>
        <img src="https://i.scdn.co/image/ab67616d0000b273be82673b5f79d9658ec0a9fd" style="width:100%" id = "slideshowimg" >
        <div class="text">Thats What I Want by Lil Nas X</div>
        </div>

        <div class="mySlides fade">
        <div class="numbertext">6 / 10</div>
        <img src="https://i1.sndcdn.com/artworks-qN9KEYWzV42q-0-t500x500.jpg" style="width:100%" id = "slideshowimg" >
        <div class="text">Way 2 Sexy (with Future & Young Thug) Drake</div>
        </div>

        <div class="mySlides fade">
        <div class="numbertext">7 / 10</div>
        <img src="https://upload.wikimedia.org/wikipedia/en/8/8e/Dua_Lipa_-_Love_Again_cover_art.png" style="width:100%" id = "slideshowimg" >
        <div class="text">Love Again by Dua Lipa Drake</div>
        </div>

        <div class="mySlides fade">
        <div class="numbertext">8 / 10</div>
        <img src="https://justrandomthings.com/wp-content/uploads/2021/05/Capture1-5.jpg" style="width:100%" id = "slideshowimg" >
        <div class="text">Saturday by Twenty One Pilots Drake</div>
        </div>

        <div class="mySlides fade">
        <div class="numbertext">9 / 10</div>
        <img src="https://stylecaster.com/wp-content/uploads/2021/08/lizzo-rumors.jpeg?w=480" style="width:100%" id = "slideshowimg" >
        <div class="text">Rumors (feat. Cardi B) Lizzo Drake</div>
        </div>

        <div class="mySlides fade">
        <div class="numbertext">10 / 10</div>
        <img src="https://upload.wikimedia.org/wikipedia/en/d/dc/Justin_Bieber_-_Sorry_%28Official_Single_Cover%29.png" style="width:100%" id = "slideshowimg" >
        <div class="text">Sorry by Justin Bieber</div>
        </div>
    
        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>
    
    <!-- The dots/circles -->
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>

</body>

<footer class="container-fluid bg-grey py-5">
    <div class="container2">
       <div class="row">
          <div class="col-md-6">
             <div class="row">
                <div class="col-md-6 ">
                   <div class="logo-part">
                      <img src="images/Decibel.png" class="w-50 logo-footer" >
                      <p class = "ps">3399 North Rd. Poughkeepsie, NY 12601</p>
                      <p class = "ps">Where you go to submit make playlists with the world.</p>
                   </div>
                </div>
                <div class="col-md-6 px-4">
                   <h6 class = "h66">Reach Out</h6>
                   <p class = "ps">Try it for yourself!</p>
                   <a href="Submit" class="btn-footer"> Submit a Song </a><br>
                   <a href="contact" class="btn-footer"> Contact Us</a>
                </div>
             </div>
          </div>
          <div class="col-md-6">
             <div class="row">
                <div class="col-md-6 px-4">
                   <h6 class = "h66">Important Links</h6>
                   <div class="row ">
                      <div class="col-md-6">
                         <ul class = "pages">
                            <li> <a class = "ps" href="index"> Home</a> </li>
                            <li> <a class = "ps" href="playlists"> Playlists</a> </li>
                            <li> <a class = "ps" href="contact"> Contact</a> </li>
                            <li> <a class = "ps" href="about"> About</a> </li>
                            <li> <a class = "ps" href="Submit"> Submit</a> </li>
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="col-md-6 ">
                   <h6 class = "h66"> Creators</h6>
                   <p class = "ps">Angelina Chirichella</p>
                   <p class = "ps">Gabriella Nina</p>
                   <p class = "ps">Genevieve Anderson</p>
                   <p class = "ps">Kylie Wasserman</p>
                </div>
             </div>
          </div>
       </div>
    </div>
</footer>

</html>