<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dB-Playlists</title>
    <link rel="stylesheet" href="/stylesheets/playlists.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap" rel="stylesheet">
</head>

<body>
    <div class = "navBar">
        <div id = "navContainer">
            <img src="images/Logo.png" alt="">
            <ul>
                <li id=bar><a href="index">Home</a></li>
                <li id=bar><a href="playlists">Playlists</a></li>
                <li id=bar><a href="contact">Contact</a></li>
                <li id=bar><a href="about">About</a></li>
            </ul>
        </div>  
    </div>


    <h1 id="playlist" > Playlist</h1>

    

    <ul>
        <li id = "song">Shivers by Ed Sheeran</li>
        <li id = "song">STAY by The Kid LAROI, Justin Bieber</li>
        <li id = "song">UNDUSTRY BABY (feat. Jack Harlow) Lil Nas X</li>
        <li id = "song">Woman by Doja Cat</li>
        <li id = "song">THATS WHAT I WANT by Lil Nas X</li>
        <li id = "song">Way 2 Sexy (with Future & Young Thug) Drake</li>
        <li id = "song">Love Again by Dua Lipa</li>
        <li id = "song">Saturday by Twenty One Pilots</li>
        <li id = "song">Rumors (feat. Cardi B) Lizzo</li>
        <li id = "song">Sorry by Justin Bieber</li>
    </ul>


    <!--Ed Sheeran-->
    <img src="https://upload.wikimedia.org/wikipedia/en/b/b0/Ed_Sheeran_-_Shivers.png" alt="">

    <!--Lil Nas X-->
    <img src="https://m.media-amazon.com/images/I/81Uj3NtUuhL._SS500_.jpg" alt="">

    <!--The Kid Laroi-->
    <img src=https://upload.wikimedia.org/wikipedia/en/0/0c/The_Kid_Laroi_and_Justin_Bieber_-_Stay.png alt="">
    
    <!--Doja Cat-->
    <img src="https://i.ytimg.com/an/2V_uAAAH-_Q/7608203655284526850_mq.jpg?v=60e4a32f" alt="">

    <!--Glass Animals-->
    <img src="https://i.scdn.co/image/ab67616d0000b2739e495fb707973f3390850eea" alt="">

    <!--Maneskin-->
    <img src="https://i.scdn.co/image/ab67616d0000b273fa0ab3a28b5c52d8a5f97045" alt="">
    
    <!--Ed Sheeran-->
    <img src="https://upload.wikimedia.org/wikipedia/en/2/2e/Ed_Sheeran_-_Bad_Habits_2.png" alt="">

    <!--Drake-->
    <img src="https://m.media-amazon.com/images/I/61WiaCLSN8L._SS500_.jpg" alt="">

    <!--Lil Nas X-->
    <img src="https://images.genius.com/52ff516ba3efdd22cc0a154eb4c75d2d.1000x1000x1.png" alt="">

</body>

</html>