<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dB-Playlists</title>
    <link rel="stylesheet" href="/stylesheets/submit.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap" rel="stylesheet">
    
</head>

<body>
    <div class = "navBar">
        <div id = "navContainer">
            <img src="images/Logo.png" alt="">
            <ul>
                <li id=bar><a href="index">Home</a></li>
                <li id=bar><a href="playlists">Playlists</a></li>
                <li id=bar><a href="contact">Contact</a></li>
                <li id=bar><a href="about">About</a></li>
                <li id=bar><a href="Submit">Submit</a></li>
                
            </ul>
        </div>  
    </div>

    
  <form method='POST' action='/submit/submit' id='enter'>
    <label for="artist">ARTIST:</label><br>
    <input type="text" id="artist" name="playlists[artist]"><br>
    <label for="title">SONG TITLE:</label><br>
    <input type="text" id="title" name="playlists[title]"><br>
    <input type="submit" onclick="alert('Thank you for your submission')">
    </form>